@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'star-flicks-ds/styles/tokens.css';
@import 'star-flicks-ds/styles/fontIcons.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
