@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import DS styles first */
@import 'star-flicks-ds/styles/tokens.css';
@import 'star-flicks-ds/styles/fontIcons.css';

/* Override DS variables with project-specific values */
:root {
  --background: #575D4B;
  --background-body: #eeeeee;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --background-body: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background-body);
}

.content-center {
  @apply mx-auto max-w-screen-lg;
}